* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: #264653;
    color: #F4A261;
}
.myRow{
    text-align: center;
    font-size: 1.7rem;
    font-family: Baskerville;
}
.legend{
    font-size: 1rem;
    font-style: italic;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    user-select: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h4{
    flex-basis: 100%;
    text-align: center;
}
.result{
    height: 50px;
    line-height: 50px;
    margin-top: 1.8rem;
}
.cards {
    height: 130px;
    width: 75px;
    border-radius: 4px;
    margin: 5px;
    font-size: 3rem;
}
.computerCards{
    background-color: #E76F51;
}
.humanCards{
    background-color: #E9C46A;
}
.computerCards,
.humanCards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.frontCards{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 75px;
    border: 1px solid black;
    background-color: white;
}

.frontCards::after,
.frontCards::before{
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}
.frontCards::before{
    left: .5rem;
    top: .5rem;
}
.frontCards::after{
    right: .5rem;
    bottom: .5rem;
    transform: rotate(180deg);
}
.fakeCardsC{
    background-color: #E76F51;
}
.fakeCardsH{
    background-color: #E9C46A;
}
.backCards{
    border: 1px solid black;
}
.red {
    color: red;
}
.black{
    color: black;
}
